body {
    background-color:#111111;
    color:white;
}

label {
    color:white;
}

.holder {
    text-align:center;
}

.center-button {
    display: block;
    margin: 0 auto;
}

.small-form {
    width:80%;
    display: block;
    margin: 0 auto;
}

.italics {
    font-style: italic;
}
