{% extends '_layout.html' %}

{% block body %} 
<div class="container"> <div class="col-sm">
    <h1>Output</h1>
    
    <img src="{{output_img}}" id="output_img" style="max-height:500px;
        display: block;
        margin-left: auto;
        margin-right: auto;"><br>

<div class="holder"><a href="{{output_img}}" download><button onclick="download()" id="download_button" type="button" class="btn btn-primary center-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
</svg>   Download Thumbnail</button></a></div>
    <!-- <script>
        function download() {

            let source = document.getElementById("output_img").getAttribute("src");
            let downloadButton = document.getElementById("download_button");

            downloadButton.setAttribute('href',)

            let p1 = document.getElementById("p1").value;
            let p2 = document.getElementById("p2").value;
            document.getElementById("p1").value = p2;
            document.getElementById("p2").value = p1;

            let char1 = document.getElementById("char1").value;
            let char2 = document.getElementById("char2").value;
            document.getElementById("char1").value = char2;
            document.getElementById("char2").value = char1;
        
        }
    </script> -->
    <br>


<form action="/create" method="POST">
    <table class="table"><tr><td>
    <div class="form-group">
        <label for="p1">Player 1</label>
        <input type="text" class="form-control" name="p1" id="p1" value="{{prev_form.get('p1')}}">
    </div></td>
    <td><div class="holder"><button onclick="swap()" type="button" class="btn btn-primary center-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
</svg> Swap Players</button></div>
    <script>
        function swap() {
            let p1 = document.getElementById("p1").value;
            let p2 = document.getElementById("p2").value;
            document.getElementById("p1").value = p2;
            document.getElementById("p2").value = p1;

            let char1 = document.getElementById("char1").value;
            let char2 = document.getElementById("char2").value;
            document.getElementById("char1").value = char2;
            document.getElementById("char2").value = char1;
        
        }
    </script>
    </td>
    <td>
    <div class="form-group">
        <label for="p2">Player 2</label>
        <input type="text" class="form-control" name="p2" id="p2" value="{{prev_form.get('p2')}}">
    </div></td>
</tr><tr><td>
    <div class="form-group"> <label for="char1">Character 1</label>
    <select class="form-control form-group" id="char1" name="char1">
        <option value='{{prev_form.get('char1')}}'>{{prev_form.get('char1')}}</option>
        <option value='Mario'>Mario</option>
<option value='Donkey Kong'>Donkey Kong</option>
<option value='Link'>Link</option>
<option value='Samus'>Samus</option>
<option value='Dark Samus'>Dark Samus</option>
<option value='Yoshi'>Yoshi</option>
<option value='Kirby'>Kirby</option>
<option value='Fox'>Fox</option>
<option value='Pikachu'>Pikachu</option>
<option value='Luigi'>Luigi</option>
<option value='Ness'>Ness</option>
<option value='Captain Falcon'>Captain Falcon</option>
<option value='Jigglypuff'>Jigglypuff</option>
<option value='Peach'>Peach</option>
<option value='Daisy'>Daisy</option>
<option value='Bowser'>Bowser</option>
<option value='Icies'>Icies</option>
<option value='Sheik'>Sheik</option>
<option value='Zelda'>Zelda</option>
<option value='Dr. Mario'>Dr. Mario</option>
<option value='Pichu'>Pichu</option>
<option value='Falco'>Falco</option>
<option value='Marth'>Marth</option>
<option value='Lucina'>Lucina</option>
<option value='Young Link'>Young Link</option>
<option value='Ganondorf'>Ganondorf</option>
<option value='Mewtwo'>Mewtwo</option>
<option value='Roy'>Roy</option>
<option value='Chrom'>Chrom</option>
<option value='Mr. G&W'>Mr. G&W</option>
<option value='Meta Knight'>Meta Knight</option>
<option value='Pit'>Pit</option>
<option value='Dark Pit'>Dark Pit</option>
<option value='Zero Suit Samus'>Zero Suit Samus</option>
<option value='Wario'>Wario</option>
<option value='Snake'>Snake</option>
<option value='Ike'>Ike</option>
<option value='Pokemon Trainer'>Pokemon Trainer</option>
<option value='Diddy Kong'>Diddy Kong</option>
<option value='Lucas'>Lucas</option>
<option value='Sonic'>Sonic</option>
<option value='King Dedede'>King Dedede</option>
<option value='Olimar'>Olimar</option>
<option value='Lucario'>Lucario</option>
<option value='ROB'>ROB</option>
<option value='Toon Link'>Toon Link</option>
<option value='Wolf'>Wolf</option>
<option value='Villager'>Villager</option>
<option value='Mega Man'>Mega Man</option>
<option value='Wii Fit Trainer'>Wii Fit Trainer</option>
<option value='Rosalina & Luma'>Rosalina & Luma</option>
<option value='Little Mac'>Little Mac</option>
<option value='Greninja'>Greninja</option>
<option value='Mii Brawler'>Mii Brawler</option>
<option value='Mii Swordfighter'>Mii Swordfighter</option>
<option value='Mii Gunner'>Mii Gunner</option>
<option value='Palutena'>Palutena</option>
<option value='Pac-Man'>Pac-Man</option>
<option value='Robin'>Robin</option>
<option value='Shulk'>Shulk</option>
<option value='Bowser Jr.'>Bowser Jr.</option>
<option value='Duck Hunt'>Duck Hunt</option>
<option value='Ryu'>Ryu</option>
<option value='Ken'>Ken</option>
<option value='Cloud'>Cloud</option>
<option value='Corrin'>Corrin</option>
<option value='Bayonetta'>Bayonetta</option>
<option value='Inkling'>Inkling</option>
<option value='Ridley'>Ridley</option>
<option value='Simon'>Simon</option>
<option value='Richter'>Richter</option>
<option value='King K Rool'>King K Rool</option>
<option value='Isabelle'>Isabelle</option>
<option value='Incineroar'>Incineroar</option>
<option value='Piranha Plant'>Piranha Plant</option>
<option value='Joker'>Joker</option>
<option value='Hero'>Hero</option>
<option value='Banjo & Kazooie'>Banjo & Kazooie</option>
<option value='Terry'>Terry</option>
<option value='Byleth'>Byleth</option>
<option value='Min Min'>Min Min</option>
<option value='Steve'>Steve</option>
<option value='Sephiroth'>Sephiroth</option>
<option value='Pyra+Mythra'>Pyra+Mythra</option>
<option value='Kazuya'>Kazuya</option>
<option value='Sora'>Sora</option>
    <option value='Clairen'>Clairen</option>
    <option value='Fleet'>Fleet</option>
    <option value='Forsburn'>Forsburn</option>
    <option value='Kragg'>Kragg</option>
    <option value='Loxodont'>Loxodont</option>
    <option value='Maypul'>Maypul</option>
    <option value='Orcane'>Orcane</option>
    <option value='Ranno'>Ranno</option>
    <option value='Wrastor'>Wrastor</option>
    <option value='Zetterburn'>Zetterburn</option>
    </select></div></td><td></td><td>
    
    <div class="form-group"> <label for="char2">Character 2</label>
    <select class="form-control form-group" id="char2" name="char2">
        <option value='{{prev_form.get('char2')}}'>{{prev_form.get('char2')}}</option>
        <option value='Mario'>Mario</option>
<option value='Donkey Kong'>Donkey Kong</option>
<option value='Link'>Link</option>
<option value='Samus'>Samus</option>
<option value='Dark Samus'>Dark Samus</option>
<option value='Yoshi'>Yoshi</option>
<option value='Kirby'>Kirby</option>
<option value='Fox'>Fox</option>
<option value='Pikachu'>Pikachu</option>
<option value='Luigi'>Luigi</option>
<option value='Ness'>Ness</option>
<option value='Captain Falcon'>Captain Falcon</option>
<option value='Jigglypuff'>Jigglypuff</option>
<option value='Peach'>Peach</option>
<option value='Daisy'>Daisy</option>
<option value='Bowser'>Bowser</option>
<option value='Icies'>Icies</option>
<option value='Sheik'>Sheik</option>
<option value='Zelda'>Zelda</option>
<option value='Dr. Mario'>Dr. Mario</option>
<option value='Pichu'>Pichu</option>
<option value='Falco'>Falco</option>
<option value='Marth'>Marth</option>
<option value='Lucina'>Lucina</option>
<option value='Young Link'>Young Link</option>
<option value='Ganondorf'>Ganondorf</option>
<option value='Mewtwo'>Mewtwo</option>
<option value='Roy'>Roy</option>
<option value='Chrom'>Chrom</option>
<option value='Mr. G&W'>Mr. G&W</option>
<option value='Meta Knight'>Meta Knight</option>
<option value='Pit'>Pit</option>
<option value='Dark Pit'>Dark Pit</option>
<option value='Zero Suit Samus'>Zero Suit Samus</option>
<option value='Wario'>Wario</option>
<option value='Snake'>Snake</option>
<option value='Ike'>Ike</option>
<option value='Pokemon Trainer'>Pokemon Trainer</option>
<option value='Diddy Kong'>Diddy Kong</option>
<option value='Lucas'>Lucas</option>
<option value='Sonic'>Sonic</option>
<option value='King Dedede'>King Dedede</option>
<option value='Olimar'>Olimar</option>
<option value='Lucario'>Lucario</option>
<option value='ROB'>ROB</option>
<option value='Toon Link'>Toon Link</option>
<option value='Wolf'>Wolf</option>
<option value='Villager'>Villager</option>
<option value='Mega Man'>Mega Man</option>
<option value='Wii Fit Trainer'>Wii Fit Trainer</option>
<option value='Rosalina & Luma'>Rosalina & Luma</option>
<option value='Little Mac'>Little Mac</option>
<option value='Greninja'>Greninja</option>
<option value='Mii Brawler'>Mii Brawler</option>
<option value='Mii Swordfighter'>Mii Swordfighter</option>
<option value='Mii Gunner'>Mii Gunner</option>
<option value='Palutena'>Palutena</option>
<option value='Pac-Man'>Pac-Man</option>
<option value='Robin'>Robin</option>
<option value='Shulk'>Shulk</option>
<option value='Bowser Jr.'>Bowser Jr.</option>
<option value='Duck Hunt'>Duck Hunt</option>
<option value='Ryu'>Ryu</option>
<option value='Ken'>Ken</option>
<option value='Cloud'>Cloud</option>
<option value='Corrin'>Corrin</option>
<option value='Bayonetta'>Bayonetta</option>
<option value='Inkling'>Inkling</option>
<option value='Ridley'>Ridley</option>
<option value='Simon'>Simon</option>
<option value='Richter'>Richter</option>
<option value='King K Rool'>King K Rool</option>
<option value='Isabelle'>Isabelle</option>
<option value='Incineroar'>Incineroar</option>
<option value='Piranha Plant'>Piranha Plant</option>
<option value='Joker'>Joker</option>
<option value='Hero'>Hero</option>
<option value='Banjo & Kazooie'>Banjo & Kazooie</option>
<option value='Terry'>Terry</option>
<option value='Byleth'>Byleth</option>
<option value='Min Min'>Min Min</option>
<option value='Steve'>Steve</option>
<option value='Sephiroth'>Sephiroth</option>
<option value='Pyra+Mythra'>Pyra+Mythra</option>
<option value='Kazuya'>Kazuya</option>
<option value='Sora'>Sora</option>
    <option value='Clairen'>Clairen</option>
    <option value='Fleet'>Fleet</option>
    <option value='Forsburn'>Forsburn</option>
    <option value='Kragg'>Kragg</option>
    <option value='Loxodont'>Loxodont</option>
    <option value='Maypul'>Maypul</option>
    <option value='Orcane'>Orcane</option>
    <option value='Ranno'>Ranno</option>
    <option value='Wrastor'>Wrastor</option>
    <option value='Zetterburn'>Zetterburn</option>
    </select></div></td>
</tr><tr><td>
    <div class="form-group">
        <label for="left">Bracket Name (Left Message)</label>
        <input type="text" class="form-control" name="left" id="left" value="{{prev_form.get('left')}}">
    </div></td><td></td><td>
    <div class="form-group">
        <label for="right">Round (Right Message)</label>
        <input type="text" class="form-control" name="right" id="right" value="{{prev_form.get('right')}}">
    </div></td></tr>
    <!-- <div class="form-group">
        <label for="box-color">Color</label>
        <input type="color">
    </div> --></table>
    <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit">
</div>
</form>
</div> </div>

{% endblock %}