{% extends '_layout.html' %}

{% block body %} 
<div class="container"> <div class="col-sm">
    <h1>Tournament Thumbnail Maker</h1>
    <p>Input information for your thumbnail</p>
    <form action="/create" method="POST">
        <table class="table"><tr><td>
        <div class="form-group">
            <label for="p1">Player 1</label>
            <input type="text" class="form-control" name="p1" id="p1" >
        </div></td>
        <td><div class="holder"><button onclick="swap()" type="button" class="btn btn-primary center-button">Swap Players</button></div>
        
        </td>
        <td>
        <div class="form-group">
            <label for="p2">Player 2</label>
            <input type="text" class="form-control" name="p2" id="p2" >
        </div></td>
    </tr><tr><td>
        <div class="form-group"> <label for="char1">Character 1</label>
        <select class="form-control form-group" id="char1" name="char1">
            <option value='Mario'>Mario</option>
    <option value='Donkey Kong'>Donkey Kong</option>
    <option value='Link'>Link</option>
    <option value='Samus'>Samus</option>
    <option value='Dark Samus'>Dark Samus</option>
    <option value='Yoshi'>Yoshi</option>
    <option value='Kirby'>Kirby</option>
    <option value='Fox'>Fox</option>
    <option value='Pikachu'>Pikachu</option>
    <option value='Luigi'>Luigi</option>
    <option value='Ness'>Ness</option>
    <option value='Captain Falcon'>Captain Falcon</option>
    <option value='Jigglypuff'>Jigglypuff</option>
    <option value='Peach'>Peach</option>
    <option value='Daisy'>Daisy</option>
    <option value='Bowser'>Bowser</option>
    <option value='Icies'>Icies</option>
    <option value='Sheik'>Sheik</option>
    <option value='Zelda'>Zelda</option>
    <option value='Dr. Mario'>Dr. Mario</option>
    <option value='Pichu'>Pichu</option>
    <option value='Falco'>Falco</option>
    <option value='Marth'>Marth</option>
    <option value='Lucina'>Lucina</option>
    <option value='Young Link'>Young Link</option>
    <option value='Ganondorf'>Ganondorf</option>
    <option value='Mewtwo'>Mewtwo</option>
    <option value='Roy'>Roy</option>
    <option value='Chrom'>Chrom</option>
    <option value='Mr. G&W'>Mr. G&W</option>
    <option value='Meta Knight'>Meta Knight</option>
    <option value='Pit'>Pit</option>
    <option value='Dark Pit'>Dark Pit</option>
    <option value='Zero Suit Samus'>Zero Suit Samus</option>
    <option value='Wario'>Wario</option>
    <option value='Snake'>Snake</option>
    <option value='Ike'>Ike</option>
    <option value='Pokemon Trainer'>Pokemon Trainer</option>
    <option value='Diddy Kong'>Diddy Kong</option>
    <option value='Lucas'>Lucas</option>
    <option value='Sonic'>Sonic</option>
    <option value='King Dedede'>King Dedede</option>
    <option value='Olimar'>Olimar</option>
    <option value='Lucario'>Lucario</option>
    <option value='ROB'>ROB</option>
    <option value='Toon Link'>Toon Link</option>
    <option value='Wolf'>Wolf</option>
    <option value='Villager'>Villager</option>
    <option value='Mega Man'>Mega Man</option>
    <option value='Wii Fit Trainer'>Wii Fit Trainer</option>
    <option value='Rosalina & Luma'>Rosalina & Luma</option>
    <option value='Little Mac'>Little Mac</option>
    <option value='Greninja'>Greninja</option>
    <option value='Mii Brawler'>Mii Brawler</option>
    <option value='Mii Swordfighter'>Mii Swordfighter</option>
    <option value='Mii Gunner'>Mii Gunner</option>
    <option value='Palutena'>Palutena</option>
    <option value='Pac-Man'>Pac-Man</option>
    <option value='Robin'>Robin</option>
    <option value='Shulk'>Shulk</option>
    <option value='Bowser Jr.'>Bowser Jr.</option>
    <option value='Duck Hunt'>Duck Hunt</option>
    <option value='Ryu'>Ryu</option>
    <option value='Ken'>Ken</option>
    <option value='Cloud'>Cloud</option>
    <option value='Corrin'>Corrin</option>
    <option value='Bayonetta'>Bayonetta</option>
    <option value='Inkling'>Inkling</option>
    <option value='Ridley'>Ridley</option>
    <option value='Simon'>Simon</option>
    <option value='Richter'>Richter</option>
    <option value='King K Rool'>King K Rool</option>
    <option value='Isabelle'>Isabelle</option>
    <option value='Incineroar'>Incineroar</option>
    <option value='Piranha Plant'>Piranha Plant</option>
    <option value='Joker'>Joker</option>
    <option value='Hero'>Hero</option>
    <option value='Banjo & Kazooie'>Banjo & Kazooie</option>
    <option value='Terry'>Terry</option>
    <option value='Byleth'>Byleth</option>
    <option value='Min Min'>Min Min</option>
    <option value='Steve'>Steve</option>
    <option value='Sephiroth'>Sephiroth</option>
    <option value='Pyra+Mythra'>Pyra+Mythra</option>
    <option value='Kazuya'>Kazuya</option>
    <option value='Sora'>Sora</option>
    <option value='Clairen'>Clairen</option>
    <option value='Fleet'>Fleet</option>
    <option value='Forsburn'>Forsburn</option>
    <option value='Kragg'>Kragg</option>
    <option value='Loxodont'>Loxodont</option>
    <option value='Maypul'>Maypul</option>
    <option value='Orcane'>Orcane</option>
    <option value='Ranno'>Ranno</option>
    <option value='Wrastor'>Wrastor</option>
    <option value='Zetterburn'>Zetterburn</option>
        </select></div></td><td>

            <div class="form-group small-form"> <label for="game">Game</label>
    <select class="form-control form-group" id="game" name="game">
        <option value='Super Smash Bros Ultimate'>Super Smash Bros Ultimate</option>
        <option value='Rivals of Aether II'>Rivals of Aether II</option>
        <option value='Super Smash Bros Melee'>Super Smash Bros. Melee</option>
    </select></div>

        </td><td>
        
        <div class="form-group"> <label for="char2">Character 2</label>
        <select class="form-control form-group" id="char2" name="char2">
            <option value='Mario'>Mario</option>
    <option value='Donkey Kong'>Donkey Kong</option>
    <option value='Link'>Link</option>
    <option value='Samus'>Samus</option>
    <option value='Dark Samus'>Dark Samus</option>
    <option value='Yoshi'>Yoshi</option>
    <option value='Kirby'>Kirby</option>
    <option value='Fox'>Fox</option>
    <option value='Pikachu'>Pikachu</option>
    <option value='Luigi'>Luigi</option>
    <option value='Ness'>Ness</option>
    <option value='Captain Falcon'>Captain Falcon</option>
    <option value='Jigglypuff'>Jigglypuff</option>
    <option value='Peach'>Peach</option>
    <option value='Daisy'>Daisy</option>
    <option value='Bowser'>Bowser</option>
    <option value='Icies'>Icies</option>
    <option value='Sheik'>Sheik</option>
    <option value='Zelda'>Zelda</option>
    <option value='Dr. Mario'>Dr. Mario</option>
    <option value='Pichu'>Pichu</option>
    <option value='Falco'>Falco</option>
    <option value='Marth'>Marth</option>
    <option value='Lucina'>Lucina</option>
    <option value='Young Link'>Young Link</option>
    <option value='Ganondorf'>Ganondorf</option>
    <option value='Mewtwo'>Mewtwo</option>
    <option value='Roy'>Roy</option>
    <option value='Chrom'>Chrom</option>
    <option value='Mr. G&W'>Mr. G&W</option>
    <option value='Meta Knight'>Meta Knight</option>
    <option value='Pit'>Pit</option>
    <option value='Dark Pit'>Dark Pit</option>
    <option value='Zero Suit Samus'>Zero Suit Samus</option>
    <option value='Wario'>Wario</option>
    <option value='Snake'>Snake</option>
    <option value='Ike'>Ike</option>
    <option value='Pokemon Trainer'>Pokemon Trainer</option>
    <option value='Diddy Kong'>Diddy Kong</option>
    <option value='Lucas'>Lucas</option>
    <option value='Sonic'>Sonic</option>
    <option value='King Dedede'>King Dedede</option>
    <option value='Olimar'>Olimar</option>
    <option value='Lucario'>Lucario</option>
    <option value='ROB'>ROB</option>
    <option value='Toon Link'>Toon Link</option>
    <option value='Wolf'>Wolf</option>
    <option value='Villager'>Villager</option>
    <option value='Mega Man'>Mega Man</option>
    <option value='Wii Fit Trainer'>Wii Fit Trainer</option>
    <option value='Rosalina & Luma'>Rosalina & Luma</option>
    <option value='Little Mac'>Little Mac</option>
    <option value='Greninja'>Greninja</option>
    <option value='Mii Brawler'>Mii Brawler</option>
    <option value='Mii Swordfighter'>Mii Swordfighter</option>
    <option value='Mii Gunner'>Mii Gunner</option>
    <option value='Palutena'>Palutena</option>
    <option value='Pac-Man'>Pac-Man</option>
    <option value='Robin'>Robin</option>
    <option value='Shulk'>Shulk</option>
    <option value='Bowser Jr.'>Bowser Jr.</option>
    <option value='Duck Hunt'>Duck Hunt</option>
    <option value='Ryu'>Ryu</option>
    <option value='Ken'>Ken</option>
    <option value='Cloud'>Cloud</option>
    <option value='Corrin'>Corrin</option>
    <option value='Bayonetta'>Bayonetta</option>
    <option value='Inkling'>Inkling</option>
    <option value='Ridley'>Ridley</option>
    <option value='Simon'>Simon</option>
    <option value='Richter'>Richter</option>
    <option value='King K Rool'>King K Rool</option>
    <option value='Isabelle'>Isabelle</option>
    <option value='Incineroar'>Incineroar</option>
    <option value='Piranha Plant'>Piranha Plant</option>
    <option value='Joker'>Joker</option>
    <option value='Hero'>Hero</option>
    <option value='Banjo & Kazooie'>Banjo & Kazooie</option>
    <option value='Terry'>Terry</option>
    <option value='Byleth'>Byleth</option>
    <option value='Min Min'>Min Min</option>
    <option value='Steve'>Steve</option>
    <option value='Sephiroth'>Sephiroth</option>
    <option value='Pyra+Mythra'>Pyra+Mythra</option>
    <option value='Kazuya'>Kazuya</option>
    <option value='Sora'>Sora</option>
    <option value='Clairen'>Clairen</option>
    <option value='Fleet'>Fleet</option>
    <option value='Forsburn'>Forsburn</option>
    <option value='Kragg'>Kragg</option>
    <option value='Loxodont'>Loxodont</option>
    <option value='Maypul'>Maypul</option>
    <option value='Orcane'>Orcane</option>
    <option value='Ranno'>Ranno</option>
    <option value='Wrastor'>Wrastor</option>
    <option value='Zetterburn'>Zetterburn</option>

        </select></div></td>
    </tr><tr><td>
        <div class="form-group">
            <label for="left">Bracket Name (Left Message)</label>
            <input type="text" class="form-control" name="left" id="left" >
        </div></td><td>

            <div class="form-group small-form"> <label for="thumbstyle">Style</label>
    <select class="form-control form-group" id="thumbstyle" name="thumbstyle">
        <option value='Standard'>Standard</option>
        <option value='Beyond'>Beyond</option>
        <option value='GameZ'>GameZ</option>
        <option value='0-2 Arcadian'>0-2 Arcadian</option>
        <option value='2-2 Arcadian'>2-2 Arcadian</option>
        <option value='KEVCON'>KEVCON</option>
        <option value='UNCC'>UNCC</option>
        <option value='Comic-Con'>Comic-Con</option>
    </select></div>

        </td><td>
        <div class="form-group">
            <label for="right">Round (Right Message)</label>
            <input type="text" class="form-control" name="right" id="right" >
        </div></td></tr>
        <!-- <div class="form-group">
            <label for="box-color">Color</label>
            <input type="color">
        </div> --></table>
        <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
    </form>
</div> </div>

<script>
    function swap() {
        let p1 = document.getElementById("p1").value;
        let p2 = document.getElementById("p2").value;
        document.getElementById("p1").value = p2;
        document.getElementById("p2").value = p1;

        let char1 = document.getElementById("char1").value;
        let char2 = document.getElementById("char2").value;
        document.getElementById("char1").value = char2;
        document.getElementById("char2").value = char1;
    
    }
</script>
{% endblock %}